@import './bulma-custom.scss';

.App {
  font-family: $family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 600px;
}

.App .main {
  flex: 1;
  padding-top: 5.4em;
}

.App .main .ledger-graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}
